<!doctype html>
<html class="no-js" lang="en">

{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sufee Admin - HTML5 Admin Template</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="{% static 'logparser/vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'logparser/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'logparser/vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'logparser/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'logparser/vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'logparser/vendors/jqvmap/dist/jqvmap.min.css' %}">


    <link rel="stylesheet" href="{% static 'logparser/assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>

    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">
                <div class="col-sm-7">
                    <h2>Log Analysis Application</h2>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="{% static 'logparser/images/admin.jpg' %}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>
                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>
                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>
                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <button type="button" class="btn btn-primary" onclick="location.href='/logparser/accesslog/view'"><i class="fa fa-gear"></i>&nbsp; Process</button>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="content mt-3">
            {% comment %} badge show information where to put access log file {% endcomment %}
            {% if not anyerror %}
            <div class="col-sm-12">
                <div class="alert alert-info fade show" role="alert">
                    <span class="badge badge-pill badge-info">Notice</span> Upload access log to /access_logs to view it
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}

            {% comment %} badge show error - access log not found {% endcomment %}
            {% if anyerror %}
            <div class="col-sm-12">
                <div class="alert alert-danger fade show" role="alert">
                    <span class="badge badge-pill badge-danger">Failed</span> Access log file's not found
                </div>
            </div>
            {% endif %}

            {% if not chartData %}
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="card-title mb-0">Traffic by Time (hour)</h4>
                            </div>
                        </div>
                        <div class="chart-wrapper mt-4">
                            <canvas id="hourTrafficChart" style="height:200px;" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            {% if not chartData %}
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="card-title mb-0">Traffic by URL</h4>
                            </div>
                        </div>
                        <div class="chart-wrapper mt-4">
                            <canvas id="urlTrafficChart" style="height:200px;" height="200"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

        </div> <!-- .content -->
    </div><!-- /#right-panel -->

    <!-- Right Panel -->

    <script type="text/javascript">
        djangoHourTrafficAnalyzedData = {{ sr_traffic_by_time|safe }};
        djangoUrlTrafficAnalyzedData = {{ sr_traffic_by_url|safe }};
    </script>

    <script src="{% static 'logparser/vendors/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'logparser/vendors/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'logparser/vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'logparser/assets/js/main.js' %}"></script>


    <script src="{% static 'logparser/vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'logparser/assets/js/dashboard.js' %}"></script>
    <script src="{% static 'logparser/vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
    <script src="{% static 'logparser/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>

</body>

</html>
